// Global Colors

$color-grey: #2e3338;
$color-greylight: #f7f8f9;
$color-greymedium: #616971;

$color-grey22: #222222;
$color-grey21: #21272a;
$color-greyf2: #f2f2f2;

$color-blue: #0f62fe;
$color-gold: #f0b33d;
$color-red: #da1e28;
$color-white: #fff;

// Labels color
$label-purplelight: #ceddf6;
$label-bluelight: #9bf6ff;
$label-red: #c00008;
$label-small: #f2f4f8;

//Boder-color
$color-border-grey: $color-greymedium;
$color-border-greylight: #dde1e6;
$color-border-blue: #2d76ff;
// Main Colors
$main-color: #1e2124;
$secondary-color: $color-grey;

// Social media platform colors
$color-youtube: #ff0000;
$color-facebook: #4267b2;
$color-instagram: #e1306c;
$color-twitter: #1da1f2;
$color-linkedin: #0a66c2;