// Global Colors

$color-grey: #2e3338;
$color-greyf2: #F2F2F2;
$color-greylight: #f7f8f9;
$color-greymedium:#616971;


$color-blue: #0f62fe;
$color-gold: #f0b33d;
$color-red: #da1e28;
$color-white: #fff;

// Labels color
$label-purplelight: #ceddf6;
$label-bluelight: #9bf6ff;
$label-red: #c00008;

//Boder-color 
$color-border-grey:$color-greymedium;
$color-border-blue:#2D76FF;
// Main Colors
$main-color: #1e2124;
$secondary-color: $color-grey;

// Social media platform colors
$color-youtube: #FF0000;
$color-facebook: #4267B2;
$color-instagram: #E1306C;
$color-twitter: #1DA1F2;
$color-linkedin: #0A66C2;


// ---------------- Commmun ----------------

body {
  font-family: "Montserrat", sans-serif;
  background-color: $color-greyf2;
}


//Subscription Form Style 

#subscriptionForm  {
  .input-group-text {
    background: white;
    border: none;
    padding-right: 2px;
    padding-left: 15px;
  }
  input {
    border-left: 0;
    height: 48px;
    border-radius: 0 4px 4px 0;
    font-size: 16px;
    font-weight: 500;

    
  }
  button {
    margin-left: 15px;
    border: 2px solid $color-border-blue;
    background-color: $color-blue;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 28px;
    border-radius: 4px;
    
  }
  ::placeholder  {
      color: $color-greymedium;
  }
}

.condition-payment {

}

footer {
  background-color: $main-color;
  padding: 60px 0;

  .logo-subscribe {
      border-bottom: 1px solid $color-border-grey;
      padding-bottom: 48px;
      margin-bottom: 48px;
    .logo-footer {
      font-size: 24px;
      font-weight: 900;
      color: $color-white;
    }

  }

  .item {
    a {
      font-size: 16px;
      line-height: 16px;
      font-weight: 600;
      color: $color-white;
      display: block;
      margin-bottom: 16px;
      text-decoration: none;
      position: relative;

      &:hover {
        text-decoration: underline;
      
      }
    }
    .title {
      color: $color-gold;
      font-size: 18px;
      font-weight: 700;
      line-height: 19.8px;
      margin-bottom: 28px;
    }
    .social-links {
      a {
        display: inline-block;
        &:not(:last-child) {
          margin-right: 16px;
        }

        i {
          font-size: 24px;
          transition: all 0.3s ease;
          &:hover {
            &.fa-youtube {
              color: $color-youtube;
            }
            &.fa-facebook-f {
              color: $color-facebook;

            }
            &.fa-twitter {
              color: $color-twitter;
            }
            &.fa-instagram {
              color: $color-instagram;
            }
            &.fa-linkedin-in {
              color: $color-linkedin;
            }
          }
         
        }
      }
    }

  }
}

// ---------------- Desktop devices ----------------
@media only screen and (min-width: 769px) {
}

// ---------------- Tablet devices ----------------
@media only screen and (min-width: 481px) and (max-width: 768px) {
}

// ---------------- Mobile devices ----------------
@media only screen and (max-width: 480px) {
}

.wrapper-title {
  .main-title {
    font-size: 42px;
  }
}
