body {
  font-family: "Montserrat", sans-serif;
  background-color: #f2f2f2; }

.description {
  color: #21272a;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px; }

.big-title {
  font-weight: 700; }

.logo {
  font-size: 24px;
  font-weight: 900;
  text-decoration: none; }

#subscriptionForm .input-group-text {
  background: white;
  border: none;
  padding-right: 2px;
  padding-left: 15px; }

#subscriptionForm input {
  border-left: 0;
  height: 48px;
  border-radius: 0 4px 4px 0;
  font-size: 16px;
  font-weight: 500; }

#subscriptionForm button {
  margin-left: 15px;
  border: 2px solid #2d76ff;
  background-color: #0f62fe;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 28px;
  border-radius: 4px; }

#subscriptionForm ::placeholder {
  color: #616971; }

.header-content .action-links a {
  text-decoration: none; }

.header-content .action-links .links {
  margin-right: 16px; }
  .header-content .action-links .links.wishlist {
    position: relative; }
    .header-content .action-links .links.wishlist img {
      margin-right: 14px; }
    .header-content .action-links .links.wishlist .qty {
      background-color: #c00008;
      border-radius: 50%;
      font-size: 12px;
      color: #fff;
      position: absolute;
      left: 23px;
      width: 18px;
      height: 18px;
      line-height: 17px;
      text-align: center; }

.info-list ul li {
  margin-bottom: 30px;
  color: #21272a;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px; }

.benefits .items .item {
  border: 1px solid #dadee2;
  background-color: #fff;
  padding: 16px;
  text-align: center;
  border-radius: 4px; }
  .benefits .items .item img {
    margin-bottom: 16px; }
  .benefits .items .item strong {
    font-size: 24px;
    line-height: 26.4px;
    color: #1e2124;
    display: block; }
  .benefits .items .item span {
    color: #40464d;
    display: block; }

.subscribe-newsletter {
  background-image: url(../images/bg-subscription.jpg);
  background-size: cover;
  background-position: center;
  padding: 145px 0;
  background-repeat: no-repeat; }
  .subscribe-newsletter .bg-newsletter {
    background-color: #2e3338;
    padding: 34px 32px; }
  .subscribe-newsletter .gift-content {
    text-align: center; }
    .subscribe-newsletter .gift-content .gold-text {
      color: #f0b33d;
      font-size: 16px;
      font-weight: 500;
      line-height: 22.4px;
      margin-bottom: 8px; }
    .subscribe-newsletter .gift-content .gift-text {
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      line-height: 26.4px;
      margin-bottom: 8px; }
  .subscribe-newsletter form {
    color: #fff; }
    .subscribe-newsletter form h3 {
      font-weight: 700; }
    .subscribe-newsletter form h6 {
      font-size: 18px;
      font-weight: 700;
      line-height: 19.8px;
      margin-bottom: 16px; }
    .subscribe-newsletter form .agree-text {
      font-size: 14px;
      font-weight: 500;
      line-height: 19.6px;
      margin-top: 16px; }

.condition-payment {
  margin: 80px auto; }
  .condition-payment table {
    border: 1px solid #dde1e6; }
    .condition-payment table thead tr th {
      background-color: #f2f4f8;
      padding: 16px 12px;
      color: #21272a; }
    .condition-payment table tbody {
      vertical-align: middle; }
      .condition-payment table tbody tr {
        border-color: #dde1e6; }
        .condition-payment table tbody tr td {
          font-size: 14px;
          line-height: 15.4px;
          color: #21272a;
          font-weight: 600; }
          .condition-payment table tbody tr td .small {
            background-color: #f2f4f8;
            padding: 2px 10px;
            border-radius: 10px; }
          .condition-payment table tbody tr td img {
            margin-right: 8px; }

footer {
  background-color: #1e2124;
  padding: 60px 0; }
  footer .logo-subscribe {
    border-bottom: 1px solid #616971;
    padding-bottom: 48px;
    margin-bottom: 48px; }
    footer .logo-subscribe .logo-footer {
      font-size: 24px;
      font-weight: 900;
      color: #fff; }
  footer .item a {
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    color: #fff;
    display: block;
    margin-bottom: 16px;
    text-decoration: none;
    position: relative; }
    footer .item a:hover {
      text-decoration: underline; }
  footer .item .title {
    color: #f0b33d;
    font-size: 18px;
    font-weight: 700;
    line-height: 19.8px;
    margin-bottom: 28px; }
  footer .item .social-links a {
    display: inline-block; }
    footer .item .social-links a:not(:last-child) {
      margin-right: 16px; }
    footer .item .social-links a i {
      font-size: 24px;
      transition: all 0.3s ease; }
      footer .item .social-links a i:hover.fa-youtube {
        color: #ff0000; }
      footer .item .social-links a i:hover.fa-facebook-f {
        color: #4267b2; }
      footer .item .social-links a i:hover.fa-twitter {
        color: #1da1f2; }
      footer .item .social-links a i:hover.fa-instagram {
        color: #e1306c; }
      footer .item .social-links a i:hover.fa-linkedin-in {
        color: #0a66c2; }

@media only screen and (min-width: 769px) {
  .header-content {
    padding: 8px 20px;
    background-color: #1e2124; }
    .header-content .logo-content {
      margin-right: 32px; }
    .header-content .block-search {
      border-radius: 4px;
      position: relative; }
      .header-content .block-search img {
        position: absolute;
        left: 20px;
        top: 13px; }
      .header-content .block-search ::placeholder {
        color: #c8ced4; }
      .header-content .block-search .search {
        background: #40464d;
        border: 1px solid #616971;
        height: 44px;
        border: none;
        padding: 0px 50px;
        color: #c8ced4;
        border-radius: 4px;
        display: block;
        width: 100%; }
    .header-content .action-links {
      margin-left: auto; }
      .header-content .action-links a {
        padding: 8px;
        color: #fff; }
        .header-content .action-links a img {
          margin-right: 5px; }
      .header-content .action-links .links {
        margin-right: 16px; }
    .header-content .authorization-link a {
      padding: 8px 28px;
      font-size: 14px;
      font-weight: 600;
      border: 1px solid;
      border-radius: 4px;
      text-decoration: none; }
      .header-content .authorization-link a.login {
        color: #fff;
        margin-right: 16px; }
      .header-content .authorization-link a.sign-up {
        border-color: #f0b33d;
        color: #2e3338;
        background: linear-gradient(180deg, #fac93a 0%, #f0b33d 100%); }
  .logo {
    color: #fff; }
  .toggle-btn {
    display: none; }
  .big-title {
    font-size: 42px;
    line-height: 46.2px;
    margin-bottom: 32px; }
  .info-list .description {
    padding-left: 10px; }
  .benefits {
    margin: 80px auto 32px auto; }
    .benefits .description {
      margin-bottom: 48px; }
    .benefits .col-6 {
      padding: 8px; }
    .benefits .big-title {
      margin-bottom: 48px; }
    .benefits .items .item span {
      font-size: 16px;
      line-height: 22.4px; }
  .subscribe-newsletter form h3 {
    font-size: 32px;
    line-height: 35.2px; } }

@media only screen and (max-width: 767px) {
  .logo {
    color: #222222; }
  .header-content {
    padding: 9px 20px;
    background-color: #fff; }
    .header-content label {
      display: flex;
      flex-direction: column;
      width: 35px;
      cursor: pointer; }
      .header-content label span {
        background: #000000;
        border-radius: 10px;
        height: 4px;
        margin: 3px 0;
        transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6); }
        .header-content label span:nth-of-type(1) {
          width: 50%; }
        .header-content label span:nth-of-type(2) {
          width: 75%; }
        .header-content label span:nth-of-type(3) {
          width: 100%; }
      .header-content label input[type="checkbox"] {
        display: none; }
        .header-content label input[type="checkbox"]:checked ~ span:nth-of-type(1) {
          transform-origin: bottom;
          transform: rotatez(45deg) translate(6px, 3px); }
        .header-content label input[type="checkbox"]:checked ~ span:nth-of-type(2) {
          transform-origin: top;
          transform: rotatez(-45deg); }
        .header-content label input[type="checkbox"]:checked ~ span:nth-of-type(3) {
          transform-origin: bottom;
          width: 50%;
          transform: translate(7px, -9px) rotatez(45deg); }
    .header-content .action-links a {
      color: #1e2124; }
      .header-content .action-links a img {
        filter: invert(100%) sepia(4%) saturate(1847%) hue-rotate(169deg) brightness(91%) contrast(90%); }
    .header-content .action-links .calendar,
    .header-content .action-links .store-language {
      display: none; }
    .header-content .authorization-link {
      display: none; }
  .toggle-btn {
    background: transparent;
    margin-bottom: 20px;
    border: none;
    color: #616971;
    font-size: 14px;
    margin-top: 30px;
    display: block;
    text-align: center;
    text-transform: lowercase;
    width: 100%; }
  .read-more {
    overflow: hidden;
    height: 49px;
    transition: height 0.3s ease;
    margin-bottom: 10px; }
  .benefits {
    padding: 48px 0;
    background-color: #fff;
    border-top: 1px solid #dde1e6; }
    .benefits .col-6 {
      padding: 4px; }
    .benefits .items .item span {
      font-size: 14px;
      line-height: 19.6px; }
  .big-title {
    font-size: 24px;
    line-height: 26.4px;
    margin-bottom: 24px; }
  .subscribe-newsletter {
    background-image: url("../images/mobile-bg-subsciption.png");
    background-size: cover;
    background-position: center; }
    .subscribe-newsletter .gift-content {
      margin: 0 auto 16px auto; }
    .subscribe-newsletter form h3 {
      font-size: 24px;
      line-height: 26.4px; }
  .footer-content .items {
    text-align: center; }
    .footer-content .items .item:not(:last-child) {
      margin-bottom: 60px; } }
